@using TravelTripProje.Models.Siniflar
@model List<Hakkimizda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>

            @foreach (var x in Model)
            {
                <img style=" height:500px; width:1000px;" src="@x.FotoUrl" alt="" />
                <p>@x.Aciklama</p>

            }


        </div>
    </div>
</div>
