@using TravelTripProje.Models.Siniflar
@model List<Rehber>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}



<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>

    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>

    <style>
    </style>

</head>
<body>
    <!---header---->
    <div class="header">
        <div class="container">

            <!---start-top-nav---->

            <div class="clearfix"></div>

            <!---//End-top-nav---->
        </div>
    </div>
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">



                @foreach (var x in Model)
                {
                   
                    <div class="single-grid">
                        <img src="@x.Fotograf" style="margin-bottom:20px" alt="" />

                        <a href="/Rehber/RehberDetay/@x.ID">@x.Baslik</a>
                        <p>@x.Aciklama.Substring(0, 150) ...    </p>
                    </div>
                    <br /><br />
                }




            </div>

            @Html.Action("SonRehberGonderi", "Rehber")


        </div>
    </div>
</body>
</html>


