
@model TravelTripProje.Models.Siniflar.iletisim


<div class="contact-details">
    <form method="post">
        <input type="text" name="AdSoyad" placeholder="Ad Soyad" required />
        <input type="text" name="Mail" placeholder="Email" required />
        <textarea placeholder="Konu" name="Konu" style="height:50px"></textarea>
        <textarea placeholder="Mesaj" name="Mesaj"></textarea>
        <input type="submit" value="GÖNDER" />
    </form>
</div>